* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    background: black url("https://live.staticflickr.com/8201/8226388606_eec6a2fd6b_b.jpg") no-repeat center;
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 0px;
}

header {
    width: 100%;
    background: linear-gradient(to bottom, black, 85%, transparent);
}

header img {
    width: 200px;
    margin-top: 30px;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: red;
    text-shadow: 1px 1px 2px black;
}

.quizCounter {
    width: 350px;
    height: 50px;
    background-color: rgba(192, 192, 192, .7);
    display: flex;
    justify-content: space-around;
}

.questionsResults {
    width: 350px;
    height: 350px;
    background-color: rgba(192, 192, 192, .7);
}

.formContainer {
    display: block;
}

form {
    width: 345px;
    height: 345px;
    margin: 5px;
    display: inline-block;
}

.question {
    height: 95px;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
}

.multiChoice {
    height: 200px;
}

input[type=radio], label {
    display: table-cell;
    vertical-align: baseline;
    padding-left: 75px;
}

.multiChoice img {
    width: 335px;
    height: 190px;
}

form span {
    font-size: 22px;
}

input[type=submit] {
    background-color: #137BB6;
    border-color: #137BB6;
    font-weight: bold;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 10px;
    padding-top: 10px;
    text-shadow: 1px 1px 2px black;
}

@media only screen and (min-width: 600px) and (min-height: 960px) {
    header img {
        width: 300px;
        margin-top: 50px;
    }
    h1 {
        font-size: 60px;
    }
    .quizCounter {
        width: 550px;
        height: 75px;
    }
    .questionsResults {
        width: 550px;
        height: 550px;
    }

    .counter {
        font-size: 22px;
    }

    form {
        width: 545px;
        height: 545px;
    }

    .question {
        height: 145px;
        font-size: 32px;
    }

    .multiChoice {
        height: 325px;
    }
    
    .multiChoice img {
        width: 535px;
        height: 300px;
    }

    input[type=radio], label {
        padding-left: 100px;
    }

    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    form span {
        font-size: 35px;
    }

    input[type=submit] {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1020px) and (min-height: 1250px) {
    header img {
        width: 400px;
        margin-top: 50px;
    }
    h1 {
        font-size: 75px;
    }
    .quizCounter {
        width: 700px;
        height: 100px;
    }
    .questionsResults {
        width: 700px;
        height: 700px;
    }

    .counter {
        font-size: 30px;
    }

    form {
        width: 695px;
        height: 695px;
    }

    .question {
        height: 200px;
        font-size: 40px;
    }

    .multiChoice {
        height: 400px;
    }
    
    .multiChoice img {
        width: 685px;
        height: 385px;
    }

    input[type=radio], label {
        padding-left: 125px;
    }

    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    form span {
        font-size: 45px;
    }

    input[type=submit] {
        font-size: 30px;
    }
}